.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.container form {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.container form input {
  padding: 0.5rem 0.7rem;
  font-size: 0.9rem;
  transition: all 0.3s ease;
  border: 1px solid #ccc;
}

.container form input:focus {
  outline: none;
  border-color: #4ab4e2;
}

.container form label {
  margin-top: 0.6rem;
  font-size: 1.1rem;
}

.container form button {
  cursor: pointer;
  margin: 1rem auto;
  padding: 1rem 1.5rem;
  border: 1px solid #204d7d;
  background-color: transparent;
  border-radius: 1rem;
  transition: 0.3s all ease;
}

.container form button:hover {
  color: #fff;
  background-color: #4ab4e2;
  border: 1px solid white;
}
